body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    background-color: #3b3838;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 8%;
    height: 50px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.menu_toggle {
    display: none;
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.niveau {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.camera {
    width: 30%; 
    overflow: hidden;
    position: relative;
    border: 2px solid #8f03c7; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
}

.camera img {
    max-width: 100%; 
    height: auto;
}

.video-section {
    text-align: center;
    margin-top: 40px;
    border: 2px solid #8f03c7; 
    padding: 20px;
}

.video-section h2 {
    font-size: 28px; 
    color: #8f03c7; 
    margin-bottom: 20px; 
}

.video-section video {
    width: 100%;
    max-width: 800px;
    height: auto; 
    outline: none;
    border: 2px solid #8f03c7; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}
